body {
    margin: 0;
  	font-family: 'Open Sans', sans-serif;
   font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.sleight-headbg {
    background: linear-gradient( to right bottom, #1bbcb2,#37b9e9 );
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    transition: all 0.5s;
    font-size: 1rem;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
    font-weight: bolder;
}

li.nav-item {
    padding: 0.8rem;
}

.btn-sleight {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.9s;
}

.btn-sleight:hover {
    color: #37b9e9;
    background-color: #ffffff;
    border-color: #fff;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.9s;
}

.sleight-back {
    background: linear-gradient( to right bottom, rgba(0, 0, 0, 0.90) ,rgba(0, 0, 0, 0.50) ), url(../img/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.homt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
