body {
    margin: 0;
  	font-family: 'Open Sans', sans-serif;
   font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
span{
  display: block;
}

.sleight-headbg {
    background: linear-gradient( to right bottom, #1bbcb2,#37b9e9 );
}

.slcl {
  color: #37b9e9;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    transition: all 0.5s;
    font-size: 1rem;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
    font-weight: bolder;
}

li.nav-item {
    padding: 0.8rem;
}

.btn-sleight {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.9s;
}

.btn-sleight:hover {
    color: #37b9e9;
    background-color: #ffffff;
    border-color: #fff;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.9s;
}

.sleight-back {
    min-height: 90vh;
    background: linear-gradient( to right bottom, rgba(0, 0, 0, 0.65) ,rgba(0, 0, 0, 0.65) ), url(../img/tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15rem;
    padding-bottom: 3rem;
    color: #fff;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 0.01rem;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.13);
}

.magtop {
  margin-top: -4rem;
}


.card-body a {
  font-size: 1rem;
  color: #363636;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}


.card-body a:hover {
    color: #35b9e5;
    text-decoration: none;
    transform: scale(1.1);
}


.sleight-mag {
margin-top: 4rem;
margin-bottom: 6rem;
}

.border-right {
    border-right: 1px #dfdfdf solid;
}

.sleight-become {
    min-height: 35vh;
    background: linear-gradient( to right bottom, rgba(0, 0, 0, 0.65) ,rgba(0, 0, 0, 0.65) ), url(../img/become.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
    color: #fff;
    background-attachment: fixed;
}



.btn-sleight-arti {
    color: #fff;
    background: linear-gradient( to right bottom, #1bbcb2,#37b9e9 );
    border-radius: 2rem;
    padding: 0.7rem 2rem;
    transition: all 1s;
}

.btn-sleight-arti:hover {
    color: #fff;
    background: linear-gradient( to right bottom,#37b9e9 ,#1bbcb2 );
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    transition: all 0.9s;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.13);
    transform: scale(1.05);
}

.sleight-porpu {
margin-top: 4rem;
margin-bottom: 4rem;
}

.img-arti {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.card-art {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 0.01rem;
    transition: all 1s;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.06);
}

.card-art:hover {
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 0.01rem;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.13);
}

.card-art .listing-avatar {
    position: absolute;
    top: 130px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 10;
}

.card-art .listing-avatar img {
    width: 60px;
    border: 4px solid rgba(255,255,255,0.4);
    border-radius: 100%;
}

.sleight-porpu .card-art a {
  font-size: 1rem;
  color: #363636;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.01rem - 1px);
    border-top-right-radius: calc(0.01rem - 1px);
}


.testi {
  background-color: #fcfcfc;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* SetRatingStar */

.star-rating {
  line-height:32px;
  font-size:1em;
}

.star-rating .fa-star{color:  #35b9e5;}

/* SetRatingStar */


/* login page  */
.login-head {
    min-height: 50vh;
    background: linear-gradient( to right bottom, rgba(0, 0, 0, 0.65) ,rgba(0, 0, 0, 0.65) ), url(../img/hammer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15rem;
    padding-bottom: 3rem;
    color: #fff;
}

.card-cx-login {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0.01rem;
    box-shadow: 0 0.1rem 3rem rgba(0, 0, 0, 0.07);
    margin: -5rem 6.06rem 0 6.06rem;
}

@media (max-width: 991.98px) {
  .card-cx-login {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0px solid rgba(0, 0, 0, 0);
      border-radius: 0.01rem;
      box-shadow: 0 0.1rem 3rem rgba(0, 0, 0, 0.07);
      margin: -5rem 1.06rem 0 1.06rem;
  }
}

.card-cx-login .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn-cx-login {
    color: #fff;
    background-color: #35b9e5;
    border-color: #25b9e5;
    border-radius: 0.01rem;
    transition: all 0.9s;
}

.btn-cx-login:hover {
    color: #fff;
    background-color: #10b9d1;
    border-color: #000;
    border-radius: 0.01rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.26);
}


.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}
/* login page  */


/* .blu-bck-login {
    position: fixed;
    width: 35%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient( to right bottom, rgba(0, 0, 0, 0.65) ,rgba(0, 0, 0, 0.65) ), url(../img/hammer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */


/* .blu-bck-signup {
    position: fixed;
    width: 35%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient( to right bottom, rgba(0, 0, 0, 0.65) ,rgba(0, 0, 0, 0.65) ), url(../img/tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
.form-control-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.01rem;
}

.cx-dashboard {
    margin-top: 5rem;
}

.cx-sidenav {
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 5.4rem;
    border: 1px #e2e2e2 solid;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cx-sidenav {
      height: 100%;
      width: 24%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #fff;
      overflow-x: hidden;
      padding-top: 5.4rem;
      border: 1px #e2e2e2 solid;
  }
}

.cont-area {
    padding-top: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

@media (min-width: 1200px) {
  .cont-area {
      padding-top: 2rem;
      margin-left: -6rem;
      padding-left: 1rem;
     padding-right: 2rem;
  }
}


.cont-side {
    padding: 2rem 1rem;
}

.img-cx {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center center;
    border: 2px #dedede solid;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px solid rgba(0, 0, 0, 0.125);
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
}


.list-group-item.active {
    z-index: 2;
    color: #35b9e5;
    background-color: #ffffff;
    border-color: #35b9e5;
    font-weight: 600;
    border-left: 4px #35b9e5 solid;
    border-radius: 1.01px;
}

.list-group-item-action:hover {
    color: #35b9e5;
    background-color: #ffffff;
    padding-left: 1.5rem;

}



.btn-dash {
    color: #35b9e5;
    background-color: #fff0;
    border-color: #35b9e5;
    border-radius: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    transition: all 0.9s;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.26);
}

.btn-dash:hover {
    color:  #fff;
    background-color:#35b9e5;
    border-color: #35b9e5;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.26);
}

.btn-dash2 {
    color: #fff;
    background-color: #35b9e5;
    border-color: #35b9e5;
    border-radius: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    transition: all 0.9s;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.26);
}

.btn-dash2:hover {
    color:  #fff;
    background-color:#35b9e5;
    border-color: #35b9e5;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.26);
}

.card-cx-dash {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #35b9e5;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.01rem;
    color: #fff;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.27);
}

.card-cx-dash2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:  #025470;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.01rem;
    color: #fff;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.27);
}

.cx-dash-pad {
  margin-bottom: 5rem;
}

.converter-opad2 {
    background: #fff;
    padding: 3rem 0rem;
    box-shadow: 0 0.1rem 3rem rgba(0, 0, 0, 0.07);
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 1rem;
    color: #35b9e5;
    transition: all 1s;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #35b9e5;
    border-color: #35b9e5;
}

/* .page-link {
    color: #35b9e5;
} */

.page-link:hover {
    color: #35b9e5;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #ddd;
}

.account-pane {
    background: #fff;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 0.1rem 3rem rgba(0, 0, 0, 0.07);
}
.cx-color{
  color:#35b9e5;
}

.btn-cx4 {
    color: #35b9e5;
    background-color: #fff;
    border-color: #025470;
    border-radius: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    transition: all 0.9s;
}

.btn-cx4:hover {
    color:  #fff;
    background-color:#35b9e5;
    border-color: #35b9e5;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.26);
}

/* Radio button */
.rad {
  padding: 0.5rem;
  font-size: 1.0rem;
}

/*Date time picker dropdown-menu*/
.da_dropdown-menu {
     position: absolute;
     top: 100%;
     left: 0;
     z-index: 1000;
     display: none;
     float: left;
     min-width: 160px;
     padding: 5px 0;
     margin: 2px 0 0;
     font-size: 14px;
     text-align: left;
     list-style: none;
     background-color: #fff;
     -webkit-background-clip: padding-box;
     background-clip: padding-box;
     border: 1px solid #ccc;
     border: 1px solid rgba(0, 0, 0, .15);
     border-radius: 4px;
     -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}
/* datetime dropdown menu*/

/* dashboard */
