body {
    margin: 0;
  	font-family: 'Open Sans', sans-serif;
   font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.sleight-headbg {
    background: linear-gradient( to right bottom, #1bbcb2,#37b9e9 );
}

.slcl {
  color: #37b9e9;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    transition: all 0.5s;
    font-size: 1rem;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
    font-weight: bolder;
}

li.nav-item {
    padding: 0.8rem;
}

.btn-sleight {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.9s;
}

.btn-sleight:hover {
    color: #37b9e9;
    background-color: #ffffff;
    border-color: #fff;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.9s;
}

.sleight-back {
    min-height: 90vh;
    background: linear-gradient( to right bottom, rgba(0, 0, 0, 0.65) ,rgba(0, 0, 0, 0.65) ), url(../img/tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15rem;
    padding-bottom: 3rem;
    color: #fff;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 0.01rem;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.13);
}

.magtop {
  margin-top: -4rem;
}


.card-body a {
  font-size: 1rem;
  color: #363636;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}


.card-body a:hover {
    color: #35b9e5;
    text-decoration: none;
    transform: scale(1.1);
}


.sleight-mag {
margin-top: 4rem;
margin-bottom: 4rem;
}

.border-right {
    border-right: 1px #dfdfdf solid;
}
